html {
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #719bc3;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #1cd644;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #a0c0df;
  text-shadow: 3px 3px 1px rgb(75, 53, 53);
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}